.red{
    color:red;
}

#container{
    display: flex;
    flex-direction: row;
}

.sidber{
    width: 30%;
    margin:10px 0 10px 0;
}

.content{
    width: 70%;
    margin: 10px 0 10px 0;
}

#top{
    text-align: center;
}